<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">-->
<suite name="All Test Suite" parallel="false" thread-count="1">
    <test verbose="2" preserve-order="true" name="D:/GitHub/API_HttpClient/TestAPI_HttpClient">
        <parameter name="TestDataExcelFileSheet" value="Sheet1"></parameter>
        <classes>
            <class name="fan.com.test.TestApiCase">
                <methods>
                    <include name="testEC1"/>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="fan.com.report.ExtentTestNGReporterListener"></listener>
    </listeners>
</suite>